<!-- https://www.youtube.com/watch?v=lrVpUVydZwM -->
<div class="row">
  <div class="col-10">
    <h2 mat-dialog-title>More Info</h2>
  </div>
  <div class="col-2">
    <mat-dialog-actions>
      <button class="btn" mat-dialog-close>close</button>
    </mat-dialog-actions>
  </div>
</div>
<mat-dialog-content
  ><div class="row border border-2 rounded-1 p-2 mt-4">
    <div class="col-md-5">
      <img
        height="300px"
        width="100px"
        src="{{ data.frontPageUrl }}"
        class="card-img-top rounded-1"
        alt="product-img"
      />
      <h4 class="text-center mt-3">{{ data.price }} Rs.</h4>
    </div>
    <div class="col-md-5">
      <p class="mt-4">
        This amazing book is written by Mr. {{ data.authorName }}.<br />
        This book is available at the best price of {{ data.price }} Rs.<br />
        <strong> Buy Now</strong>
      </p>
      <form #form="ngForm" (submit)="onAddToCart(form)" autocomplete="off">
        <input
          type="hidden"
          value="{{ data.bookId }}"
          name="bookId"
          #bookId="ngModel"
          [(ngModel)]="data.bookId"
        />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn btn-lg btn-info col-7 mt-4"
          [disabled]="form.invalid"
        >
          Add to Cart
        </button>
      </form>
      <button class="btn btn-lg btn-yblue col-7 mt-4">Buy bow</button>
      <p class="mt-3">Name of Author: {{ data.authorName }}</p>
    </div>
  </div>
</mat-dialog-content>
