<div class="theme">
  <div class="row">
    <div class="col-4">
      <div class="mt-4" style="margin-left: 10%">
        <h3>
          Reading made
          <p style="color: yellow">better</p>
        </h3>
        <p style="color: white">Read more books</p>
        <p style="color: white">Meet great people</p>
        <p style="color: white">Engage in menaingful conversions</p>
        <p style="color: yellow">Grow Your Wings</p>
      </div>
    </div>
    <div class="col-6">
      <div class="mt-4" style="margin-left: 10%">
        <form #loginForm="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">EMAIL OR USERNAME</label>
            <input
              #UserName
              ngModel
              name="UserName"
              required
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">PASSWORD</label>
            <input
              #Password
              ngModel
              name="Password"
              required
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>

          <a href="#">Forgot password?</a>
          <br />
          <button
            [disabled]="!loginForm.valid"
            type="submit"
            class="btn btn-primary mt-2"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
